* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 4.5vw;
}
h2 {
  font-size: 2rem;
  color: #3282B8;
  height: 0.07rem;
}
h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}
h4 {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  word-spacing: 0.4vw;
  color: #3282B8;
  height: 0.07rem;
}
h6 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #0F4C75;
}
p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
}
button {
  background: #0F4C75;
  border-style: none;
  padding: 0.7rem 1.3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}
hr {
  /* background: #BBE1FA;
  color: #BBE1FA; */
  height: 0.7rem;
}
body {
  font-family: "Open Sans", sans-serif;
  width: 1920px;
  height: 1080px;
  border: 1px solid red;
}

nav {
  background-color: #3282B8;
}
.eff::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #0F4C75;
  transition: width 0.3s;
}
.eff:hover::after {
  width: 60%;
  height: 2px;
  height: 2px;
  background: #0F4C75;
  transition: width 0.3s;
  border-bottom:2px solid #0F4C75;
}


header {
  background-color: #a9a9a9;
}
.header-img {
  border-radius: 50%;
}